<% orders.each do |order| %>
    <div class="row">
        <div class="col-12 mt-3">
            <%= link_to project_path(order.project), {id:"card-project-link"} do %>
                <div class="card <%=  "#{"animated bounceInDown" if params[:order_id].to_i == order.id}" %>">
                    <div class="card-horizontal">
                        <div class="card-body rounded border-right card-project">
                            <h4 class="card-title">
                            <%= order.project.title %>
                          </h4>
                            <p id="description-dashboard">
                                <%= order.project.short_description%>
                            </p>
                        </div>
                        <div class="card-body border-right">
                            <h4 class="card-title">Impact</h4>
                            <ul class = "impact-list">
                                <% order.project.impact.split(",").each do |impact| %>
                                    <li class="card-text">
                                        <%= impact %>
                                    </li>
                                    <% end %>
                            </ul>
                        </div>
                        <div class= "card-chart">
                            <h4 id="chart-title">Progress</h4>
                            <canvas class="chart" data-progress="<%= (order.project.amount_collected.to_f / order.project.amount_needed * 100).round %>" width="auto" height="auto">
                            </canvas>
                            <div class="donut-inner">
                                <h6>
                              <%= (order.project.amount_collected.to_f / order.project.amount_needed * 100).round %> %
                            </h6>
                            </div>
                            <div>
                              <p class = "invested">

                                Investissement :
                                <%=
                                if order.payment == nil
                                  "#{[300, 450, 600].sample}€"
                                else
                                "#{JSON.parse(order.payment)["amount"]/100}€"
                              end

                                %>
                                <br>
                                 Investis le  :
                                <%=
                                "#{order.created_at.to_datetime.strftime("%d/%m/%Y")}"
                                %>
                              </p>
                            </div>
                        </div>


                    </div>
                </div>
                <% end %>
        </div>
    </div>
    <% end %>
