<% orders.each do |order| %>
    <div class="row">
        <div class="col-12 mt-3">
            <%= link_to project_path(order.project), {id:"card-project-link"} do %>
                <div class="card">
                    <div class="card-horizontal">
                        <div class="card-body rounded border-right card-project">
                            <h4 class="card-title">
                            <%= order.project.title %>
                          </h4>
                            <p>
                                Société d’investissements solidaires de la fondation Abbé Pierre qui utilise l’épargne citoyenne comme une réponse concrète à la lutte contre le mal-logement.
                            </p>
                        </div>
                        <div class="card-body border-right">
                            <h4 class="card-title">Impact</h4>
                            <ul>
                                <% order.project.impact.split(",").each do |impact| %>
                                    <li class="card-text">
                                        <%= impact %>
                                    </li>
                                    <% end %>
                            </ul>
                        </div>
                        <div>
                            <h4 id="chart-title">Progress</h4>
                            <canvas class="chart" data-progress="<%= (order.project.amount_collected.to_f / order.project.amount_needed * 100).round %>" width="auto" height="auto">
                            </canvas>
                            <div class="donut-inner">
                                <h6>
                              <%= (order.project.amount_collected.to_f / order.project.amount_needed * 100).round %> %
                            </h6>
                            </div>
                        </div>

                    </div>
                </div>
                <% end %>
        </div>
    </div>
    <% end %>
