  <div class="container">
  <div class="dashboard d-flex">
    <div class="projects mr-3">
      <section class=" ">
            <div class="row">
                <div class="col-md-12 ">
                    <nav class="nav-justified my-3">
                        <div class="nav nav-tabs " id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Tous les projets</a>
                            <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false">En cours de collecte</a>
                            <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Financé</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">


                        <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                            <div class="pt-3">
                              <%= render partial: "cards_projects", locals: {orders: @orders} %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                            <div class="pt-3">
                              <%= render partial: "cards_projects", locals: {orders: @orders_in_progress} %>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                            <div class="pt-3">
                              <%= render partial: "cards_projects", locals: {orders: @orders_finished} %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="profile px-3">
      <div class="badge-title d-flex">
        <div class="titles">
          <h5>Vous êtes :</h5>
          <h7>Super-Power-Energizer-Investor</h7>
        </div>
        <div class="badge">
          <%= image_tag "superlenina.png", class:"avatar-large avatar-large-bordered" %>
        </div>
      </div>

      <div class="investor-profile">
        <!-- <div class="inner-profile-title">Votre profil investisseur :</div>
        <div class="profile-statuses">
          <div class="profile status">Vous avez investi dans <%#=  current_user.orders.count%> projets</div>
          <div class="profile status">Votre montant investi : <%#= current_user.all_orders_amounts %>€</div>
          <div class="profile status">Votre type d'investissement</div>
        </div> -->
        <div class="mt-4">
          <h5>Votre profil investisseur</h5>
          <canvas id ="radar" class="radar-investor">
          </canvas>
        </div>
        <div class="profile-history">
          <h9 class="profile-history-infos">Vous avez investi dans <strong><%=  current_user.orders.count%> projets</strong></h9>
          <h9 class="profile-history-infos">Votre montant investi : <strong><%= current_user.all_orders_amounts %>€</strong></h9>
        </div>
      </div>
      <%= link_to "Chercher un projet", step1_path, class:"btn btn-form add-investment" %>
    </div>
  </div>
    </section>

  </div>
