

<div class="container">

  <%= simple_form_for :search, url: projects_path, method: :get do  %>
    <div class="search-form-control form-group">
      <%= text_field_tag :search, params[:search], :placeholder => 'Rechercher un projet  ', :class => "form-control string required" %>
      <% submit_tag "Search This Site", name: nil, :class => "btn btn-flat" %>
    </div>
  <% end %>

  <!-- [...] -->
<%= form_tag projects_path, method: :get, remote: true do  %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a project"
  %>
  <div class="categories"></div>
    <% @categories.each do |category| %>
      <input class ="project-category" style="display: none;" type="checkbox" id="<%= category.title %>" name="category[]" value="<%= category.title %>">
      <label class ="buttontag" for="<%= category.title %>"><%= category.title %></label>
    <% end %>


  <!-- <select name="category" id="category">
    <#% @categories.each do |category| %>
      <option value="<%#= category.title %>"><%#= category.title.capitalize %></option>
    <#% end %>
  </select> -->
  <!-- <input type="text" name="category" placeholder="category"> -->
 <!--  <input type="text" name="location" placeholder="location">
  <input type="text" name="invest" placeholder="invest">
  <input type="text" name="company_type" placeholder="company_type"> -->
  <input type="submit" class = "button-categories" style="display: none;">

<% end %>
<!-- the list of movies -->




  <div class="header"></h2><h2>
  </div>

<div class="container">

  <%= render partial: "cards", locals: {projects: @projects} %>
</div>







