<ul>
  <% @projects.each do |project| %>
    <li>title : <%= project.title %></li>
    <li>description : <%= project.short_description %></li>
    <li>
      progress : <%= (project.amount_collected.to_f / project.amount_needed * 100 ).round %> %

      </li>
    <li>minimum_investment : <%= project.minimum_investment %></li>
    <li>rating : <%= project.rating %></li>
    <li><%= link_to "show", project_path(project)  %></li>
  <% end %>
</ul>

