<div class="container">

  <div class="d-flex flex-column">

    <div class="project-card-container d-flex mt-5 justify-content-around">

<!--       <p class="project-card-picto">
        <%= image_tag "undraw_environment_iaus.png" %>
      </p> -->

      <div class="project-description-card p-2 w-40">

        <h1><%= @project.title.capitalize %></h1>
        <h4>Projet proposé par la plateforme <%= @project.provider %></h4>

        <p class="project-card-category">Insert category</p>

        <h2>Descritpion</h2>
        <p><%= @project.long_description %></p>

        <h2>Porteur de projet:</h2>
        <p><%= @project.project_manager_profile %></p>

        <p><%= @project.company_type.title %></p>

      </div>

    <div class="project-financial-info-card d-flex flex-column p-2 w-40">

      <div>
        <h2>Durée du remboursement :</h2>
        <p><%= @project.exit_timing %></p>
        <h2>Avancement : </h2>
        <p><%= (@project.amount_collected.to_f / @project.amount_needed * 100 ).round %> %</p>
        <h2>Montant nécessaire :</h2>
        <p><%= @project.amount_needed %></p>
        <h2>Montant récolté : </h2>
        <p><%= @project.amount_collected %></p>
        <h2>Investissement minimum : </h2>
        <p><%= @project.minimum_investment %></p>
        <h2>Durée du financement : </h2>
        <p><%= @project.start_date %> - <%= @project.end_date %></p>
      </div>

      <div class="cards-button">
        <%=  link_to "Investir dans ce projet", @project.project_url%>
      </div>

      <div class="link">
      <%=  link_to "Ajouter à mes favoris", project_favorites_path(@project), method: :post%>
      </div>

    </div>

  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <%=  link_to "go back", projects_path%>

</div>
