<!-- <div class="franceconnect-modal d-none">
  <div class="modal-content">
    <h2>Votre profil n'est pas complet !</h2>
    <p>Nous avons besoin de certains documents pour pouvoir valider votre investissement. Compléter votre profil en un clic !</p>
    <div>
      <input type="button" class="franceconnect-button" value="Complétez le en un clic.">
    </div>
  </div>
</div> -->

<div class="container">

  <div class="d-flex flex-column">

    <div class="project-card-container d-flex mt-3 justify-content-around">

      <div class="project-description-card p-2 w-40">

        <div class="d-flex justify-content-between">
          <div>
            <h1><%= @project.title.capitalize %></h1>
            <div class="underline"></div>
          </div>
          <div class="rating-show"><%= @project.rating %>% de pertinence</div>
        </div>
        <div class="legend">Projet proposé par la plateforme <%= @project.provider %>
        </div>
        <div class="d-flex justify-content-start">
          <% @project.categories.to_a.each do |category| %>
           <div class="tag-show mr-3">
             <%= category.title %>
           </div>
          <% end %>
        </div>

        <div class="d-flex mt-5">

            <div class="radar-show">
              <canvas id ="radar" width="auto" height="auto"></canvas>
            </div>

            <div>
              <p class="title-recap ">Risque</p>
              <p>20%</p>
              <p class="title-recap"> Rentabilité</p>
              <p>20%</p>
              <p class="title-recap">  Impact prévu</p>
                <ul>
                  <% @project.impact.split(",").each do |impact| %>
                  <li class="card-text">
                    <%= impact %>
                  </li>
                  <% end %>
                </ul>
            </div>

        </div>

        <h3>Description</h3>
        <div class="underline"></div>
        <p id="description"><%= @project.long_description %> <span id="dots">...</span></p>

        <div class="mb-5">
          <span id="more">
            <h3>Porteur du projet:</h3>
            <div class="underline"></div>
            <p><%= @project.project_manager_profile %></p>
          </span></p>
        <button id="myBtn"><i class="fas fa-chevron-circle-down"></i></button>
        </div>
      </div>

    <div class="project-financial-info-card d-flex flex-column p-2 w-40">

      <div>
        <div class="d-flex flex-column">
          <h4 id="chart-title">Progrès de la collecte</h4>
          <div class="underline"></div>
        </div>
        <div class="center">
          <p><%= @project.amount_collected %>€ sur les <%= @project.amount_needed %>€ necéssaires</p>
        </div>
        <canvas class = "chart" data-progress = "<%= (@project.amount_collected.to_f / @project.amount_needed * 100).round %>"width="auto" height="auto"></canvas>
        <div class="donut-show">
          <h5><%= (@project.amount_collected.to_f / @project.amount_needed * 100).round %> %</h5>
        </div>
      </div>

      <div>
        <div class="d-flex mt-3">
          <div class="center">
            <h2>Durée du remboursement</h2>
            <p><%= @project.exit_timing %> mois</p>
          </div>
          <div class="center">
            <h2>Fin du financement</h2>
            <p><%= @project.end_date.strftime('%F')%></p>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column justify-content-center mt-5">
          <div class="center">
            <h2>Investissement minimum</h2>
            <p><%= @project.minimum_investment %>€</p>
          </div>

          <div class="d-flex invest-form justify-content-center">
          <div>
            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'project_id', @project.id %>
            <%= number_field_tag 'amount_cents', nil, class: 'invest-form-input'%>
          </div>
          <div>
            <%= submit_tag 'Investir !', class: 'invest-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="link">
   <%=  link_to "< Go back", projects_path%>
  </div>
</div>

<div class="stripe-button">
  <%= render "payments/stripe_button" %>
</div>
