
<div class="container">
  <div class="link mt-3">
   <%=  link_to "< Retour à la liste des projets", projects_path%>
  </div>
  <div class="d-flex flex-column">

    <div class="project-card-container d-flex mt-3 justify-content-around">

      <div class="project-description-card p-2 w-40">

        <div class="d-flex justify-content-between">
          <div>
            <h1><%= @project.title.capitalize %></h1>
            <div class="underline"></div>
          </div>
          <div class="rating-show center"><div class="pourcentage"><%= @project.rating %>% </div><div  class="legend">de pertinence</div></div>
        </div>
        <div class="legend">🇫🇷 <%= @project.city %>, France </div>
        <div class="d-flex justify-content-start">
          <% @project.categories.to_a.each do |category| %>
           <div class="tag-show mr-3">
             <%= category.title %>
           </div>
          <% end %>
        </div>

        <div class="d-flex mt-5">

            <div class="radar-show">
              <canvas id ="radar" width="auto" height="auto"></canvas>
            </div>

            <div>
              <p class="title-recap ">Risque</p>
              <p>8%</p>
              <p class="title-recap"> Rentabilité</p>
              <p>12%</p>
              <p class="title-recap">  Impact prévu</p>
                <ul>
                  <% @project.impact.split(",").each do |impact| %>
                  <li class="card-text">
                    <%= impact %>
                  </li>
                  <% end %>
                </ul>
            </div>

        </div>

        <h3>Description</h3>
        <div class="underline"></div>
        <p id="description"><%= @project.long_description %> <span id="dots">...</span></p>

        <div class="mb-5">
          <span id="more">
            <h3>Porteur du projet:</h3>
            <div class="underline"></div>
            <p><%= @project.project_manager_profile %></p>
          </span></p>
        <button id="myBtn"><i class="fas fa-chevron-circle-down"></i></button>
        </div>
      </div>

    <div class="project-financial-info-card d-flex flex-column p-3 m-3 w-40">

      <div class="sticky">

          <div class="d-flex flex-column">
            <h4 id="mt-5">La collecte</h4>
            <div class="legend">Projet proposé par la plateforme <%= @project.provider %>
            </div>
            <div class="underline"></div>
          </div>

          <div class="d-flex justify-content-between">

          <div class="position-relative" style="min-width: 148px;">
            <canvas class = "chart donut-graph-show mt-0" data-progress = "<%= (@project.amount_collected.to_f / @project.amount_needed * 100).round %>"width="auto" height="auto"></canvas>
            <div class="donut-show">
              <h5><%= (@project.amount_collected.to_f / @project.amount_needed * 100).round %> %</h5>
            </div>
          </div>

          <div>
            <div class="d-flex flex-column justify-content-around mt-3">
              <div class="center">
                <h2>Objectif</h2>
                <p><%=@project.amount_needed%>€</p>
              </div>
              <div class="center">
                <h2>Collecté</h2>
                <p><%=@project.amount_collected %>€</p>
              </div>
            </div>
          </div>

        </div>

        <div>
          <div class="d-flex mt-5">
            <div class="center">
              <h2><i class="fas fa-hand-holding-usd"></i> Durée du remboursement</h2>
              <p><%= @project.exit_timing %> mois</p>
            </div>
            <div class="center">
              <h2><i class="far fa-clock"></i> Fin du financement</h2>
              <p>Dans <%= (Date.parse(@project.end_date.to_s) - Date.today).to_i%> jours</p>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column justify-content-center mt-5">
            <div class="center">
              <h2>Investissement minimum</h2>
              <p><%= @project.minimum_investment %>€</p>
            </div>

            <div class="d-flex invest-form justify-content-center">
            <div>
              <%= form_tag orders_path do %>
              <%= hidden_field_tag 'project_id', @project.id %>
              <%= number_field_tag 'amount_cents', @project.minimum_investment, class: 'invest-form-input'%>
            </div>
          <div>
            <%= submit_tag 'Investir !', class: 'invest-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<% unless @order.nil? %>
<div >

<h1>Purchase of teddy </h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  # Commented for the lecture, remove comments.
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Mon investissement"
    data-email="<%= current_user.email %>"
    data-description="Mon investissement"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
<% end %>
</div>
<script>
  document.querySelector(".stripe-button-el").click();
</script>
<% end %>
