<!-- <div class="franceconnect-modal d-none">
  <div class="modal-content">
    <h2>Votre profil n'est pas complet !</h2>
    <p>Nous avons besoin de certains documents pour pouvoir valider votre investissement. Compléter votre profil en un clic !</p>
    <div>
      <input type="button" class="franceconnect-button" value="Complétez le en un clic.">
    </div>
  </div>
</div> -->

<div class="container">

  <div class="d-flex flex-column">

    <div class="project-card-container d-flex mt-5 justify-content-around">

      <div class="project-description-card p-2 w-40">

        <div class="d-flex justify-content-end">
          <% @project.categories.to_a.each do |category| %>
           <div class="project-card-tag mr-3">
             <%= category.title %>
           </div>
          <% end %>
        </div>

        <h1><%= @project.title.capitalize %></h1>
        <h4>Projet proposé par la plateforme <%= @project.provider %></h4>

        <h2>Description</h2>
        <p><%= @project.long_description %></p>

        <h2>Porteur du projet:</h2>
        <p><%= @project.project_manager_profile %></p>

        <div class="d-flex">

          <div>
            <canvas id ="radar" width="auto" height="auto"></canvas>
          </div>

          <div class="d-flex flex-column">

            <div class="d-flex flex-column">
              <h2>Risque</h2>
              <p>20%</p>
            </div>

           <div class="d-flex flex-column">
              <h2>Rentabilité</h2>
              <p>20%</p>
          </div>

        </div>


          <div class="d-flex flex-column">
              <h2>Impact prévu</h2>
              <div>
                  <ul>
                    <% @project.impact.split(",").each do |impact| %>
                    <li class="card-text">
                      <%= impact %>
                    </li>
                    <% end %>
                  </ul>
                </div>
          </div>
      </div>

      </div>

    <div class="project-financial-info-card d-flex flex-column p-2 w-40">

      <div>
        <div class="d-flex mt-3">
          <div class="center">
            <h2>Durée du remboursement</h2>
            <p><%= @project.exit_timing %> mois</p>
          </div>
          <div class="center">
            <h2>Montant nécessaire</h2>
            <p><%= @project.amount_needed %>€</p>
          </div>
        </div>

        <div>
          <h4 id="chart-title">Avancement</h4>
          <canvas class = "chart" data-progress = "<%= (@project.amount_collected.to_f / @project.amount_needed * 100).round %>"width="auto" height="auto"></canvas>
          <div class="donut-show">
            <h5><%= (@project.amount_collected.to_f / @project.amount_needed * 100).round %> %</h5>
          </div>
        </div>

        <div class="center">
            <h2>Montant récolté</h2>
            <p><%= @project.amount_collected %>€</p>
        </div>

        <div class="d-flex">
          <div class="center">
            <h2>Investissement minimum</h2>
            <p><%= @project.minimum_investment %>€</p>
          </div>
          <div class="center">
            <h2>Durée du financement</h2>
            <p><%= @project.start_date.strftime('%F') %> - <%= @project.end_date.strftime('%F') %></p>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column invest-form">
        <div>
          <%= form_tag orders_path, remote: true do %>
          <%= hidden_field_tag 'project_id', @project.id %>
          <%= number_field_tag 'amount_cents'%>
        </div>
        <div>
          <%= submit_tag 'Investir maintenant !', class: 'invest-btn' %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

  <div class="map"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div class="link">
   <%=  link_to "< Go back", projects_path%>
  </div>
</div>
<div class="stripe-button">
  <%= render "payments/stripe_button" %>
</div>
