<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Power Investor</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
        <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dqwubjw5x/image/upload/v1559682806/fav_xbwrxl.ico"/>

    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div id="page-container">
     <div id="content-wrap">
        <% unless controller_name == "sessions" || controller_name == "registrations" %>
     <!-- <div id="content-wrap"> -->
        <%= render "layouts/navbar" %>
        <% end %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
</div>
      </div>
     <%= render "layouts/footer" %>
  </body>

<!--   DOUGHNUT -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
  Array.from(document.getElementsByClassName('chart')).forEach((chart) => {
    new Chart(chart, {
    type: 'doughnut',
    data: {
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#202135", "#D9D8DA"],
        data: [parseInt(chart.dataset.progress, 10), 100 - parseInt(chart.dataset.progress, 10) ]
      }]
    },
    options:
    {
      responsive: false,
      title: {
        display: true
      }
    }});
  });

// RADAR

radar = document.getElementById('radar')

var marksData = {
  labels: ["Agriculture", "Pauvreté", "Energie", "Egalité", "Envrionnemnt"],
  datasets: [{
    label: "Catégories d'impact",
    backgroundColor: "#202135",
    data: [0, 90, 50, 75, 0]
  }]
};

var radarChart = new Chart(radar, {
  type: 'radar',
  data: marksData
});


  </script>
</html>

