<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Power Investor</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
        <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dqwubjw5x/image/upload/v1559682806/fav_xbwrxl.ico"/>

    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div id="page-container">
     <!-- <div id="content-wrap"> -->
        <% unless controller_name == "pages" || controller_name == "sessions" || controller_name == "registrations" %>
        <%= render "layouts/navbar" %>
        <% end %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
</div>
      </div>
     <%= render "layouts/footer" %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>


  var ctx = document.getElementById('myChart').getContext('2d');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#93CF51", "#D9D8DA"],
        data: [60,40]
      }]
    },
    options:
    {
      elements: {
      center: {
      text: 'Desktop',
      color: '#36A2EB', //Default black
      fontStyle: 'Helvetica', //Default Arial
      sidePadding: 15 //Default 20 (as a percentage)
      }
      },
      responsive: false,
      title: {
        display: true
      }
    }
});
  </script>
</html>

